@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Infinite Marquee Keyframes and Utilities */
@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-right-fast {
  animation-name: marquee-right;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-marquee-right-slow {
  animation-name: marquee-right;
  animation-duration: 36s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-marquee-left-fast {
  animation-name: marquee-left;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-marquee-left-slow {
  animation-name: marquee-left;
  animation-duration: 36s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
